
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.08;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.y.axis path, .y.axis line,
.y.axis text{
    stroke: #1E88E5; /* @blue_600  */
}
.y1.axis path, .y1.axis line,
.y1.axis text{
    stroke: #E53935; /* @red_600  */
}
 